.header{
    display: flex;
    align-items: center;
    grid-column: 1/11;
    grid-row: 1/2;
    border: 3px solid black;
  }
  
  .logo{
    width: 60px;
    margin-left: 40px;
    border-radius: 50px;
  
  }